body{
  margin: 10px;
  color: aliceblue;
  background-color: #212121;
}
path {
  stroke-width: 2px;
  stroke: aliceblue;
  stroke-linecap: round;
}
svg{
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}