
  .box{
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    overflow: visible;
  }
  .portrait{
    width: auto;
    height: 60vh;
  }
  .myInfo{
    width: 50vw;
    margin: 0 auto;
    font-size: larger;
  }
  
  .buttons{
    background-color: transparent;
    color: aliceblue;
    font-size: large;
    cursor: pointer;
    border: 0.5px solid aliceblue;
    height: 70px;
    width: 170px;
  }
  .about{
    position: absolute;
    top: calc(50% - 35px);
    left: -2%;
  }
  
  .projects{
    position: absolute;
    top: calc(50% - 35px);
    right: -2%;
  }



@media only screen and (max-width: 767px) {
  .box {
    position: relative;
    background-color: black;
    text-align: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    margin: 0 auto;
    display: block;
  }
  .portrait{
    width: auto;
    height: 50vh;
  }
  .myInfo{
    width: 80vw;
    margin: 0 auto;
    font-size: large;
  }

}
