
  .box{
    padding-top: 110px;
    position: relative;
    text-align: center;
    width: 100vw;
    height: 88vh;
    /* background-color: black; */
    background: transparent;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 10;
  }
  .gridContainer{
    height: inherit;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
  }
  .socialsInfo{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .svgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 40vw;
    height: 150px;
    background-color: black;
  }
  .svgContent{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .svg:hover{
    scale: 1.1;
  }
  .pathMail{
    transform: translate(0%, 0%);
  }
  .pathGit{
    transform: translate(10%, 3%);
  }
  .pathFb{
    transform: translate(10%, 4.5%);
  }
  .pathLinkedin{
    scale: 1.01;
    transform: translate(11%, 4%);
  }
  .pathInsta{
    transform: translate(10%, -3%);
  }
  
  
  @media only screen and (max-width: 767px) {
    .box {
      position: relative;
      text-align: center;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      margin: 0 auto;
    }
    .svgContainer{
      display: grid;
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      margin: auto;
      width: 60vw;
      height: 80vh;
      background-color: black;
    }
    .pathInsta{
      transform: translate(11%, 0px);
    }
    .pathFb{
      transform: translate(19%, 4.5%);
    }
    .pathLinkedin{
      transform: translate(16%, 0);
    }
    .pathGit{
      transform: translate(18%, 3%);
    }
    .pathMail{
      transform: translate(3%, 0%);
    }
  }
  
